Common API parameters
Many API methods use the following:

kw_list

keywords to get data for

Example ['Pizza']

Up to five terms in a list: ['Pizza', 'Italian', 'Spaghetti', 'Breadsticks', 'Sausage']

Advanced Keywords

When using Google Trends dashboard Google may provide suggested narrowed search terms.
For example "iron" will have a drop down of "Iron Chemical Element, Iron Cross, Iron Man, etc".
Find the encoded topic by using the get_suggestions() function and choose the most relevant one for you.
For example: https://www.google.com/trends/explore#q=%2Fm%2F025rw19&cmpt=q
"%2Fm%2F025rw19" is the topic "Iron Chemical Element" to use this with pytrends
You can also use pytrends.suggestions() to automate this.
cat

Category to narrow results
Find available cateogies by inspecting the url when manually using Google Trends. The category starts after cat= and ends before the next & or view this wiki page containing all available categories
For example: "https://www.google.com/trends/explore#q=pizza&cat=71"
'71' is the category
Defaults to no category
geo

Two letter country abbreviation
For example United States is 'US'
Defaults to World
More detail available for States/Provinces by specifying additonal abbreviations
For example: Alabama would be 'US-AL'
For example: England would be 'GB-ENG'
tz

Timezone Offset (in minutes)
For more information of Timezone Offset, view this wiki page containing about UCT offset
For example US CST is '360'
timeframe

Date to start from

Defaults to last 5yrs, 'today 5-y'.

Everything 'all'

Specific dates, 'YYYY-MM-DD YYYY-MM-DD' example '2016-12-14 2017-01-25'

Specific datetimes, 'YYYY-MM-DDTHH YYYY-MM-DDTHH' example '2017-02-06T10 2017-02-12T07'

Note Time component is based off UTC
Current Time Minus Time Pattern:

By Month: 'today #-m' where # is the number of months from that date to pull data for

For example: 'today 3-m' would get data from today to 3months ago
NOTE Google uses UTC date as 'today'
Seems to only work for 1, 2, 3 months only
Daily: 'now #-d' where # is the number of days from that date to pull data for

For example: 'now 7-d' would get data from the last week
Seems to only work for 1, 7 days only
Hourly: 'now #-H' where # is the number of hours from that date to pull data for

For example: 'now 1-H' would get data from the last hour
Seems to only work for 1, 4 hours only
gprop

What Google property to filter to
Example 'images'
Defaults to web searches
Can be images, news, youtube or froogle (for Google Shopping results)
back to top

Interest Over Time
pytrends.interest_over_time()
Returns pandas.Dataframe

back to top

Historical Hourly Interest
pytrends.get_historical_interest(kw_list, year_start=2018, month_start=1, day_start=1, hour_start=0, year_end=2018, month_end=2, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=0)
Parameters

kw_list

Required
list of keywords that you would like the historical data
year_start, month_start, day_start, hour_start, year_end, month_end, day_end, hour_end

the time period for which you would like the historical data
sleep

If you are rate-limited by Google, you should set this parameter to something (i.e. 60) to space off each API call.
Returns pandas.Dataframe

back to top

Interest by Region
pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=True, inc_geo_code=False)
Parameters

resolution

'CITY' returns city level data
'COUNTRY' returns country level data
'DMA' returns Metro level data
'REGION' returns Region level data
inc_low_vol

True/False (includes google trends data for low volume countries/regions as well)
inc_geo_code

True/False (includes ISO codes of countries along with the names in the data)
Returns pandas.DataFrame

# evaluo 1 mes

In [243]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

# aca establezco en que pais e idioma voy a buscar toda la info
TrendReq(hl='en-AR')

# aca pongo la palabra para cual voy a solicitar toda la info
kw_list = ['ropa','remera']
pytrend.build_payload(kw_list,geo='AR',timeframe='today 1-m')#,cat=0, timeframe='today 5-y', geo='', gprop='')

In [244]:
# Interest by Region
df = pytrend.interest_by_region(resolution = 'Argentina')
df = df.sort_values(kw_list[0], ascending=False)
df.head(10)

                                 ropa  remera
geoName
Santiago del Estero Province       95       5
Salta Province                     95       5
Entre Rios                         95       5
Jujuy                              95       5
La Pampa Province                  94       6
Cordoba                            92       8
Río Negro                          92       8
Misiones Province                  92       8
Autonomous City of Buenos Aires    91       9
Buenos Aires Province              91       9

In [245]:
# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict[kw_list[0]]['top'].head(20))
print(related_queries_dict[kw_list[0]]['rising'].head(20))

                       query  value
0              ropa interior    100
1             ropa por mayor     73
2             ropa deportiva     54
3              ropa de mujer     49
4               ropa de bebe     34
5          mayorista de ropa     24
6             ropa de hombre     23
7           ropa para perros     20
8            avellaneda ropa     20
9             marcas de ropa     15
10        mayoristas de ropa     12
11          lavadero de ropa     12
12                 mimo ropa     12
13   venta de ropa por mayor     11
14                  ver ropa     11
15  ropa deportiva por mayor     10
16           ropa para bebes     10
17   ropa interior por mayor     10
18                 zara ropa      9
19       ropa interior mujer      8
                                         query  value
0                   conjuntos de ropa interior  22100
1                                  shiloh ropa  13300
2   venta de ropa directo de fábrica por mayor   4300
3                    ropa para niños por mayor    550
4                                 chelsea ropa    250
5                                    zoom ropa    250
6                             secadora de ropa    200
7                                    cher ropa    200
8                     que es una curva de ropa    140
9                              mar tarres ropa    140
10                             ropa para bebes    130
11                                ginebra ropa    100
12                                 nucleo ropa     80
13                              ropa aesthetic     80
14                                embrujo ropa     80
15                              talles de ropa     80
16                            lavadero de ropa     60
17                                   mimo ropa     60
18                              ropa deportiva     50
19                     venta de ropa por mayor     50

In [246]:
related_queries_top = related_queries_dict[kw_list[0]]['top']

In [248]:
related_queries_rising =related_queries_dict[kw_list[0]]['rising']

In [249]:
related_queries_rising

                                         query  value
0                   conjuntos de ropa interior  22100
1                                  shiloh ropa  13300
2   venta de ropa directo de fábrica por mayor   4300
3                    ropa para niños por mayor    550
4                                 chelsea ropa    250
5                                    zoom ropa    250
6                             secadora de ropa    200
7                                    cher ropa    200
8                     que es una curva de ropa    140
9                              mar tarres ropa    140
10                             ropa para bebes    130
11                                ginebra ropa    100
12                                 nucleo ropa     80
13                              ropa aesthetic     80
14                                embrujo ropa     80
15                              talles de ropa     80
16                            lavadero de ropa     60
17                                   mimo ropa     60
18                              ropa deportiva     50
19                     venta de ropa por mayor     50
20                              tender de ropa     50
21                    ropa deportiva por mayor     40

In [250]:
df = pd.concat([related_queries_rising,related_queries_top],axis=1)

df['timeframe'] = '1 mes'

# evaluo 3 meses

In [120]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

# aca establezco en que pais e idioma voy a buscar toda la info
TrendReq(hl='es-AR')

# aca pongo la palabra para cual voy a solicitar toda la info
kw_list = ["ropa"]
pytrend.build_payload(kw_list,geo='AR',timeframe='today 3-m')#,cat=0, timeframe='today 5-y', geo='', gprop='')

# Interest by Region
df = pytrend.interest_by_region(resolution = 'Argentina')
df = df.sort_values(kw_list[0], ascending=False)
df.head(10)

# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict[kw_list[0]]['top'].head(20))
print(related_queries_dict[kw_list[0]]['rising'].head(20))

related_queries_top = related_queries_dict[kw_list[0]]['top']

related_queries_rising =related_queries_dict[kw_list[0]]['rising']

related_queries_dict[kw_list[0]]['rising'].head(30)

related_queries_rising

                query  value
0       ropa interior    100
1          ropa mujer     78
2      ropa por mayor     78
3         ropa hombre     53
4           ropa bebe     52
5          ropa niños     50
6      ropa deportiva     48
7       ropa de mujer     47
8         ropa online     45
9           mayorista     43
10     ropa mayorista     43
11       ropa de bebe     40
12      venta de ropa     35
13      ropa de niños     34
14     tienda de ropa     32
15     ropa de hombre     31
16    avellaneda ropa     30
17         avellaneda     30
18  mayorista de ropa     29
19    tiendas de ropa     22
                                            query  value
0                             proveedores de ropa  16450
1           ropa interior por mayor para revender   8050
2                                  indonesia ropa   7950
3                             blanche ropa blanca   5700
4                            falabella ropa niños   5200
5   chicas en ropa interior del cuello para abajo   5050
6                                    embrujo ropa   4450
7                          oxigeno ropa deportiva   3650
8                                   valvinna ropa   2850
9                           crayon ropa de chicos   2750
10                                    kazuma ropa   2100
11                                   inversa ropa   1450
12                    que significa curva de ropa   1400
13                              tenders para ropa   1350
14           conjuntos de ropa interior por mayor   1350
15               venta de ropa interior por mayor    500
16                               molde ropa perro    450
17                                    monaca ropa    400
18                            fabricantes de ropa    400
19                        venta de ropa por mayor    350

                                            query  value
0                             proveedores de ropa  16450
1           ropa interior por mayor para revender   8050
2                                  indonesia ropa   7950
3                             blanche ropa blanca   5700
4                            falabella ropa niños   5200
5   chicas en ropa interior del cuello para abajo   5050
6                                    embrujo ropa   4450
7                          oxigeno ropa deportiva   3650
8                                   valvinna ropa   2850
9                           crayon ropa de chicos   2750
10                                    kazuma ropa   2100
11                                   inversa ropa   1450
12                    que significa curva de ropa   1400
13                              tenders para ropa   1350
14           conjuntos de ropa interior por mayor   1350
15               venta de ropa interior por mayor    500
16                               molde ropa perro    450
17                                    monaca ropa    400
18                            fabricantes de ropa    400
19                        venta de ropa por mayor    350
20                     mayorista de ropa de niños    350
21                      ropa para niños por mayor    300
22                        ropa de niños por mayor    300
23                                    millie ropa    300
24                      molde de ropa para perros    250

# evaluo 12 meses

In [121]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

# aca establezco en que pais e idioma voy a buscar toda la info
TrendReq(hl='es-AR')

# aca pongo la palabra para cual voy a solicitar toda la info
kw_list = ["ropa"]
pytrend.build_payload(kw_list,geo='AR',timeframe='today 12-m')#,cat=0, timeframe='today 5-y', geo='', gprop='')

# Interest by Region
df = pytrend.interest_by_region(resolution = 'Argentina')
df = df.sort_values(kw_list[0], ascending=False)
df.head(10)

# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict[kw_list[0]]['top'].head(20))
print(related_queries_dict[kw_list[0]]['rising'].head(20))

related_queries_top = related_queries_dict[kw_list[0]]['top']

related_queries_rising =related_queries_dict[kw_list[0]]['rising']

related_queries_dict[kw_list[0]]['rising'].head(30)

related_queries_rising

              query  value
0     ropa interior    100
1        ropa mujer     97
2     ropa de mujer     58
3       ropa hombre     54
4         ropa bebe     50
5    ropa por mayor     50
6    ropa deportiva     49
7        ropa niños     41
8      ropa de bebe     37
9     marca de ropa     34
10   ropa de hombre     33
11      ropa online     33
12   tienda de ropa     33
13  ropa avellaneda     28
14       avellaneda     28
15    ropa de niños     26
16  tiendas de ropa     22
17  locales de ropa     21
18   marcas de ropa     20
19  ropa para niños     18
                                    query  value
0                             monaca ropa  10100
1   cuanto dura el coronavirus en la ropa   8400
2   cuanto vive el coronavirus en la ropa   4900
3                             e-girl ropa   3750
4                             ropa grunge   3000
5                             ropa e girl   2800
6                               luxo ropa   1450
7                que es una curva de ropa   1450
8                          ropa aesthetic    750
9              enfermera en ropa interior    700
10                ropa de stranger things    400
11                     ropa de gacha life    400
12                             shein ropa    350
13            mayorista de ropa en flores    200
14                             ropa con n    200
15                    mayorista ropa bebe    190
16                              clan ropa    180
17                         sor juana ropa    170
18                    blanche ropa blanca    140
19                     billie eilish ropa    120

                                      query  value
0                               monaca ropa  10100
1     cuanto dura el coronavirus en la ropa   8400
2     cuanto vive el coronavirus en la ropa   4900
3                               e-girl ropa   3750
4                               ropa grunge   3000
5                               ropa e girl   2800
6                                 luxo ropa   1450
7                  que es una curva de ropa   1450
8                            ropa aesthetic    750
9                enfermera en ropa interior    700
10                  ropa de stranger things    400
11                       ropa de gacha life    400
12                               shein ropa    350
13              mayorista de ropa en flores    200
14                               ropa con n    200
15                      mayorista ropa bebe    190
16                                clan ropa    180
17                           sor juana ropa    170
18                      blanche ropa blanca    140
19                       billie eilish ropa    120
20  como sacar manchas de aceite de la ropa    110
21                        ayudin ropa color    110
22                              jumper ropa    110
23                            herencia ropa    100
24                           ropa de los 70    100

In [ ]:
df = pd.concat([related_queries_rising,related_queries_top],axis=1)

df['timeframe'] = '1 mes'

# evaluo 7 dias

In [122]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

# aca establezco en que pais e idioma voy a buscar toda la info
TrendReq(hl='es-AR')

# aca pongo la palabra para cual voy a solicitar toda la info
kw_list = ["ropa"]
pytrend.build_payload(kw_list,geo='AR',timeframe='now 7-d')#,cat=0, timeframe='today 5-y', geo='', gprop='')

# Interest by Region
df = pytrend.interest_by_region(resolution = 'Argentina')
df = df.sort_values(kw_list[0], ascending=False)
df.head(10)

# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict[kw_list[0]]['top'].head(20))
print(related_queries_dict[kw_list[0]]['rising'].head(20))

related_queries_top = related_queries_dict[kw_list[0]]['top']

related_queries_rising =related_queries_dict[kw_list[0]]['rising']

related_queries_dict['ropa']['rising'].head(30)

related_queries_rising

                 query  value
0        ropa interior    100
1           ropa mujer     75
2       ropa por mayor     72
3       ropa deportiva     47
4        ropa de mujer     44
5          ropa hombre     39
6            ropa bebe     39
7       ropa mayorista     34
8           ropa niños     31
9         ropa de bebe     29
10         ropa online     27
11      tienda de ropa     26
12      ropa de hombre     23
13   mayorista de ropa     22
14         flores ropa     22
15     avellaneda ropa     21
16          avellaneda     21
17       ropa de niños     20
18  mercado libre ropa     20
19     tiendas de ropa     18
                                         query  value
0             cuando abren los locales de ropa    850
1                  y que no le importe mi ropa    550
2                                musicool ropa    400
3                                     musicool    400
4                    secador de ropa electrico    300
5                               plus size ropa    250
6                            ropa alta costura    250
7                             secadora de ropa    200
8                         ropa de alta costura    200
9                              secador de ropa    150
10                                  shein ropa    130
11                   secador de ropa por calor    120
12                            tender para ropa     80
13                           locas por la ropa     80
14                        secador de ropa axel     80
15  venta de ropa directo de fábrica por mayor     80
16                         fabricantes de ropa     60
17                           ropa para muñecas     60
18                                   zara ropa     50
19        nombres para emprendimientos de ropa     40

                                         query  value
0             cuando abren los locales de ropa    850
1                  y que no le importe mi ropa    550
2                                musicool ropa    400
3                                     musicool    400
4                    secador de ropa electrico    300
5                               plus size ropa    250
6                            ropa alta costura    250
7                             secadora de ropa    200
8                         ropa de alta costura    200
9                              secador de ropa    150
10                                  shein ropa    130
11                   secador de ropa por calor    120
12                            tender para ropa     80
13                           locas por la ropa     80
14                        secador de ropa axel     80
15  venta de ropa directo de fábrica por mayor     80
16                         fabricantes de ropa     60
17                           ropa para muñecas     60
18                                   zara ropa     50
19        nombres para emprendimientos de ropa     40

# evaluo 1 dia

In [123]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

# aca establezco en que pais e idioma voy a buscar toda la info
TrendReq(hl='es-AR')

# aca pongo la palabra para cual voy a solicitar toda la info
kw_list = ["ropa"]
pytrend.build_payload(kw_list,geo='AR',timeframe='now 1-d')#,cat=0, timeframe='today 5-y', geo='', gprop='')

# Interest by Region
df = pytrend.interest_by_region(resolution = 'Argentina')
df = df.sort_values(kw_list[0], ascending=False)
df.head(10)

# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict[kw_list[0]]['top'].head(20))
print(related_queries_dict[kw_list[0]]['rising'].head(20))

related_queries_top = related_queries_dict[kw_list[0]]['top']

related_queries_rising =related_queries_dict[kw_list[0]]['rising']

related_queries_dict[kw_list[0]]['rising'].head(30)

related_queries_rising

                 query  value
0        ropa interior    100
1       ropa por mayor     72
2           ropa mujer     63
3       ropa deportiva     40
4        ropa de mujer     36
5            ropa bebe     36
6       mayorista ropa     35
7            mayorista     35
8          ropa hombre     33
9           ropa niños     29
10        ropa de bebe     23
11         ropa online     22
12         flores ropa     21
13      tienda de ropa     20
14   mayorista de ropa     20
15  mercado libre ropa     19
16       marca de ropa     18
17       ropa de niños     18
18      ropa de hombre     16
19     ropa avellaneda     16
                                   query  value
0            y que no le importe mi ropa   2950
1                      ropa alta costura   1050
2                   ropa de alta costura   1000
3                        mar tarres ropa    250
4                            ankara ropa    130
5              secador de ropa por calor     90
6                          ojo rojo ropa     90
7                             batuk ropa     80
8   nombres para emprendimientos de ropa     80
9                 oxigeno ropa deportiva     80
10                         columbia ropa     70
11                  baja california ropa     60
12                       ropa para gatos     60
13                             luxo ropa     60
14                            ayres ropa     60
15             secador de ropa electrico     50
16           nombres para marcas de ropa     50
17                   proveedores de ropa     40
18           como hacer ropa para perros     40
19                                ossira     40

                                   query  value
0            y que no le importe mi ropa   2950
1                      ropa alta costura   1050
2                   ropa de alta costura   1000
3                        mar tarres ropa    250
4                            ankara ropa    130
5              secador de ropa por calor     90
6                          ojo rojo ropa     90
7                             batuk ropa     80
8   nombres para emprendimientos de ropa     80
9                 oxigeno ropa deportiva     80
10                         columbia ropa     70
11                  baja california ropa     60
12                       ropa para gatos     60
13                             luxo ropa     60
14                            ayres ropa     60
15             secador de ropa electrico     50
16           nombres para marcas de ropa     50
17                   proveedores de ropa     40
18           como hacer ropa para perros     40
19                                ossira     40
20                  ropa de trabajo ombu     40
21                        tender de ropa     40

# 4 hs

In [282]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

# aca establezco en que pais e idioma voy a buscar toda la info
TrendReq(hl='es-AR')

# aca pongo la palabra para cual voy a solicitar toda la info
kw_list = ["ropa"]
pytrend.build_payload(kw_list,geo='AR',timeframe='now 4-H')#,cat=0, timeframe='today 5-y', geo='', gprop='')

# Interest by Region
df = pytrend.interest_by_region(resolution = 'Argentina')
df = df.sort_values(kw_list[0], ascending=False)
df.head(10)

# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict[kw_list[0]]['top'].head(20))
print(related_queries_dict[kw_list[0]]['rising'].head(20))

related_queries_top = related_queries_dict[kw_list[0]]['top']

related_queries_rising =related_queries_dict[kw_list[0]]['rising']

related_queries_dict[kw_list[0]]['rising'].head(30)

related_queries_rising

                      query  value
0             ropa interior    100
1            ropa por mayor     74
2                ropa mujer     51
3               ropa hombre     26
4            ropa deportiva     26
5                 ropa bebe     25
6             ropa de mujer     23
7            mayorista ropa     21
8              ropa de bebe     18
9                ropa niños     17
10           ropa de hombre     15
11           tienda de ropa     15
12       mercado libre ropa     14
13        mayorista de ropa     14
14          avellaneda ropa     14
15          tiendas de ropa     13
16           marcas de ropa     12
17            ropa de niños     12
18  ropa interior por mayor     10
19         ropa para perros     10
                        query  value
0                       bowen   1000
1              indonesia ropa    750
2                      legacy    500
3                   sisa ropa    400
4                   kuda rose    350
5             la martina ropa    350
6                airborn ropa    300
7       ropa de billie eilish    300
8      ropa deportiva premium    250
9   secador de ropa por calor    250
10               waiting ropa    250
11   ventas de ropa por mayor    250
12                 ropa con j    200
13             etiqueta negra    200
14                jumper ropa    150
15            la dolfina ropa    130
16                 abyss ropa    130
17                       muaa    130
18                 fancy ropa    130
19                ropa kawaii    120

                        query  value
0                       bowen   1000
1              indonesia ropa    750
2                      legacy    500
3                   sisa ropa    400
4                   kuda rose    350
5             la martina ropa    350
6                airborn ropa    300
7       ropa de billie eilish    300
8      ropa deportiva premium    250
9   secador de ropa por calor    250
10               waiting ropa    250
11   ventas de ropa por mayor    250
12                 ropa con j    200
13             etiqueta negra    200
14                jumper ropa    150
15            la dolfina ropa    130
16                 abyss ropa    130
17                       muaa    130
18                 fancy ropa    130
19                ropa kawaii    120
20                 ropa hindu    120
21                nucleo ropa    120
22                       selu    120
23  fabrica de ropa deportiva    110
24   ropa de hombre por mayor    100

# 1 hora

In [240]:
import pandas as pd                        
from pytrends.request import TrendReq
pytrend = TrendReq()

# aca establezco en que pais e idioma voy a buscar toda la info
TrendReq(hl='es-AR')

# aca pongo la palabra para cual voy a solicitar toda la info
kw_list = ["ropa"]
pytrend.build_payload(kw_list,geo='AR',timeframe='now 1-H')#,cat=0, timeframe='today 5-y', geo='', gprop='')

# Interest by Region
df = pytrend.interest_by_region(resolution = 'Argentina')
df = df.sort_values(kw_list[0], ascending=False)
df.head(10)

# Related Queries, returns a dictionary of dataframes
related_queries_dict = pytrend.related_queries()
print(related_queries_dict[kw_list[0]]['top'].head(20))
print(related_queries_dict[kw_list[0]]['rising'].head(20))

related_queries_top = related_queries_dict[kw_list[0]]['top']

related_queries_rising =related_queries_dict[kw_list[0]]['rising']

related_queries_dict[kw_list[0]]['rising'].head(30)

related_queries_rising

                       query  value
0              ropa interior    100
1             ropa por mayor     84
2             ropa deportiva     62
3              ropa de mujer     47
4               ropa de bebe     35
5            avellaneda ropa     31
6    ropa interior por mayor     22
7    venta de ropa por mayor     20
8           ropa para perros     16
9                  zara ropa     14
10                      zara     14
11  ropa deportiva por mayor     13
12                  ver ropa     11
13            ropa aesthetic     10
14       ropa interior mujer      9
15          secadora de ropa      8
16   ropa de mujer por mayor      7
17       etiquetas para ropa      7
18                 kika ropa      5
19              bolivia ropa      5
                      query  value
0                     prune    800
1          secadora de ropa     70
2              bolivia ropa     70
3                 kika ropa     50
4  ropa deportiva por mayor     40
5                   modatex     40

                      query  value
0                     prune    800
1          secadora de ropa     70
2              bolivia ropa     70
3                 kika ropa     50
4  ropa deportiva por mayor     40
5                   modatex     40

In [241]:
df = pd.concat([related_queries_rising,related_queries_top],axis=1)

In [242]:
df

                       query  value                     query  value
0                      prune  800.0             ropa interior    100
1           secadora de ropa   70.0            ropa por mayor     84
2               bolivia ropa   70.0            ropa deportiva     62
3                  kika ropa   50.0             ropa de mujer     47
4   ropa deportiva por mayor   40.0              ropa de bebe     35
5                    modatex   40.0           avellaneda ropa     31
6                        NaN    NaN   ropa interior por mayor     22
7                        NaN    NaN   venta de ropa por mayor     20
8                        NaN    NaN          ropa para perros     16
9                        NaN    NaN                 zara ropa     14
10                       NaN    NaN                      zara     14
11                       NaN    NaN  ropa deportiva por mayor     13
12                       NaN    NaN                  ver ropa     11
13                       NaN    NaN            ropa aesthetic     10
14                       NaN    NaN       ropa interior mujer      9
15                       NaN    NaN          secadora de ropa      8
16                       NaN    NaN   ropa de mujer por mayor      7
17                       NaN    NaN       etiquetas para ropa      7
18                       NaN    NaN                 kika ropa      5
19                       NaN    NaN              bolivia ropa      5
20                       NaN    NaN                     prune      5
21                       NaN    NaN                   modatex      4
22                       NaN    NaN                  portsaid      3


# encontrar si hay algo de lo que se esta buscando que olenka lo tenga

### agarro las palabras que se repite entre esas de google trends (que son palabras buscadas relacionadas a ropa) y las palabras del catalogo de olenka (osea si en los titulos y descripciones),

In [212]:
catalogo = pd.read_csv('olenka_catalogo.csv')

In [213]:
import itertools
import nltk

In [214]:
# tokenizer y lista de las palabras de google trends
related_queries_rising['tokenized_sents'] = related_queries_rising.apply(lambda row: nltk.word_tokenize(row['query']), axis=1)

lst_tokens_google = list(itertools.chain.from_iterable(related_queries_rising['tokenized_sents']))
#lst_phrases_google = [phrase.replace(" ","_") for phrase in lst_tokens_google]

In [215]:
# tokenizer y lista de las palabras de olenka

catalogo['tokenized_sents'] = catalogo.apply(lambda row: nltk.word_tokenize(row['TITLE']), axis=1)

lst_tokens_catalogo = list(itertools.chain.from_iterable(catalogo['tokenized_sents']))
#lst_phrases_catalogo = [phrase.replace(" ","_") for phrase in lst_tokens_catalogo]

In [216]:
lst_tokens_catalogo = [x.lower() for x in lst_tokens_catalogo]

In [219]:
set(lst_tokens_google).intersection(lst_tokens_catalogo)

{'tommy'}

In [227]:
catalogo.TITLE = [x.lower() for x in catalogo.TITLE]

In [228]:
catalogo[catalogo.TITLE.str.contains('tommy')]

,ID,TITLE,GOOGLE_PRODUCT_CATEGORY,DESCRIPTION,AVAILABILITY,CONDITION,PRICE,LINK,IMAGE_LINK,BRAND,ADDITIONAL_IMAGE_LINK,AGE_GROUP,COLOR,PRODUCT_TYPE,SALE_PRICE,OVERRIDE,tokenized_sents
58,910484,t-shirt grace & tommy,Ropa y accesorios > Prendas de vestir,Bad Romance edition,in stock,new,ARS 2000.00,https://www.olenkarock.com.ar/product/910484/,https://s3.amazonaws.com/storage.wobiz.com/128...,Facebook,https://s3.amazonaws.com/storage.wobiz.com/128...,adult,Blanco,ESTAMPADAS > REMERAS,ARS 2000.00,AR,"[T-SHIRT, GRACE, &, TOMMY]"

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt


wordcloud = WordCloud(background_color="white", max_words=2000, max_font_size=40, random_state=42).generate(" ".join(lst_phrases))

# Display the generated image:
# the matplotlib way:
plt.figure()
plt.imshow(wordcloud)
plt.axis("off")
plt.show()